
html,

body {                              /* Target the entire page body */
  font-family: 'Roboto', sans-serif;  /* Set the font to Roboto, with sans-serif as backup */
  background-color: #008080;          /* Set background color to white */
  color: #FFFFFF                        /* Set text color to dark gray (almost black) */
  margin: 0;                          /* Remove default spacing around the body */
}
